body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn btn-primary{
  text-align: center;
  margin-left: 20%;
}
#card{
  text-align: center;
  margin-top: 20px;
  margin-left: 30%;
}
form{
  display: inline-block;
}
#button1{
  float: left;
}
#button2{
  float: right;
}
#exampleFormControlSelect1{
  margin-left: 2%;
}
#query{
  margin-left: 2%;
}
#name{
  margin-left: 4%;

}
#Date123{
  margin-left: 2%;
}
#piechart{
  display: flex;
  justify-content: left;
  margin-left: 15%;
}
#startdate{
  margin-left: 2%;
}
.status-selected{
  background-color: green;
}
table{
  border: 10%;
}
#resulttable{
  width:30%;
  height:50%;
  margin-left: 100px ;
  border: 2px solid black;
}
#file{
  margin-left: 10%;
  margin-right: 60%;
}
